---
layout: page
---

<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Left side -->
        <div id="left-side" class="col-md-12 col-lg-6 background-primary pattern">
            <div class="container d-flex flex-column flex-fill h-100 py-5 px-2 px-lg-5">
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="navbar navbar-expand-xl justify-content-between align-items-center">
                            <div>
                                <a href="{{ site.url }}{{ site.baseurl | replace:'/','' }}">
                                    <img src="{{ site.baseurl_root }}/assets/images/wahlbrief.svg" alt="FragDenStaat logo" width="200px">
                                </a>
                            </div>

                            <div class="d-flex d-lg-none align-items-center justify-content-between">
                                <div class="dropdown">
                                    <button class="dropdown-toggle top-item" type="button" id="dropdownMenu3"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-globe me-1"></i>
                                        {% for lang in site.languages %}
                                        {% assign lang_short = site.data[lang].l10n.lang_short %}
                                        {% if lang == site.lang %}
                                        {{ lang_short }}
                                        {% endif %}
                                        {% endfor %}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                        {% for lang in site.languages %}
                                        {% assign lang_name = site.data[lang].l10n.lang_name %}
                                        {% if lang == site.default_lang %}
                                        <li><a class="dropdown-item" href="{{ page.url }}">{{ lang_name }}</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="/{{ lang }}{{ page.url }}">{{ lang_name
                                                }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="d-lg-block d-none">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-globe me-1"></i>
                                        {% for lang in site.languages %}
                                        {% assign lang_name = site.data[lang].l10n.lang_name %}
                                        {% if lang == site.lang %}
                                        {{ lang_name }}
                                        {% endif %}
                                        {% endfor %}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        {% for lang in site.languages %}
                                        {% assign lang_name = site.data[lang].l10n.lang_name %}
                                        {% if lang == site.default_lang %}
                                        <li><a class="dropdown-item" href="{{ page.url | replace:'index.html','' }}">{{ lang_name }}</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="/{{ lang }}{{ page.url | replace:'index.html','' }}">{{ lang_name
                                                }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="d-lg-none">
                                <button class="navbar-toggler" onclick="openNav()"><img
                                        src="{{ site.baseurl_root }}/assets/images/burger.svg"></button>
                                {% include nav-mobile.html %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h1>{% t terms.left.title %}</h1>
                        <p class="subtitle">{% t terms.left.subtitle %}</p>
                    </div>
                </div>

                <div class="d-block d-lg-none mt-5 scrollIndicator">
                    <div class="container">
                        <div class="text-center">
                            <button onclick="window.scrollTo(0,document.body.scrollHeight);"><i
                                    class="fas fa-2x fa-chevron-down"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row mt-auto d-none d-lg-block">
                    <div class="col-12">
                        {% include nav.html %}
                        {% include footer.html %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Right side -->
        <div class="col-md-12 col-lg-6 offset-xl-6 offset-0">
            <div class="container d-flex flex-column h-100 py-5 px-2 px-lg-4">
                <div class="row h-100 d-flex justify-content-between">
                    <div class="col-12">
                        <h2 class="mb-3">{% t terms.right.title %}</h2>

                        <h3 id="Verantwortlicher">1. Verantwortlicher</h3>
                        <p>
                            Verantwortlich für die Datenverarbeitung ist Mehr Demokratie e.V., Haus der Demokratie und
                            Menschenrechte, Greifswalder Str. 4, 10405 Berlin, <code>datenschutz@mehr-demokratie.de</code>.
                            Allgemeine Fragen zum Datenschutz können Sie auch an die Adresse <code>datenschutz@wahlbrief.de</code>
                            richten. Weiterführende Informationen zum Datenschutz stellt Mehr Demokratie e.V.
                            <a href="https://www.mehr-demokratie.de/datenschutz">hier</a> zur Verfügung.
                        </p>

                        <h3 id="Art-der-verarbeiteten-Daten-und-Rechtsgrundlage">2. Art der verarbeiteten Daten und
                            Rechtsgrundlage</h3>
                        <p>
                            Bei der Nutzung des Angebotes werden verschiedene personenbezogene Daten
                            verarbeitet. Wir versuchen, diese Verarbeitung auf ein Mindestmaß zu
                            beschränken und den Eingriff in Ihre Grundrechte und -freiheiten gering
                            ausfallen zu lassen.
                        </p>

                        <h3 id="Besuch-der-Webseite">2.1 Besuch der Webseite</h3>
                        <p>
                            Im Rahmen des Besuchs dieser Webseite werden folgende personenbezogene Daten
                            verarbeitet:
                        </p>
                        <ul>
                            <li>IP-Adresse</li>
                            <li>Datum und Uhrzeit des Besuchs</li>
                            <li>Angaben zum verwendenten Browser inklusive der Version</li>
                        </ul>

                        <p>
                            Wir verwenden die Open-Source-Software Plausible Analytics, um die Nutzung der Webseite
                            zu dokumentieren. Dabei werden nur die Benutzerzahlen gezählt. Es werden keine Cookies
                            verwendet und es werden keine persönlichen Daten - nicht einmal eine IP-Adresse gespeichert.
                            Die Software wird auf unserem Server betrieben. Nach 90 Tagen werden die Daten automatisch gelöscht.
                        </p>

                        <p>
                            Zum Schutz vor Überlastungsangriffen (distributed Denial of Service, dDoS)
                            kommt ein System zum Einsatz, welches IP-Adressen, Portnummern, Paketgrößen
                            und Informationen aus dem TCP-Kopfdaten verarbeitet. Dies dient der Erkennung
                            von Angriffen. Falls das System einen Angriff erkennt, werden diese Daten für
                            maximal vier Monate gespeichert. Andernfalls erfolgt eine Löschung der Daten
                            direkt nach der Erkennung.
                        </p>

                        <p>
                            Das Angebot wird mittels einer so genannten TLS-Verschlüsselung bereit
                            gestellt. Das heißt, dass die personenbezogenen Daten, die Sie ggf. auf der
                            Seite eingeben, geschützt übermittelt werden.
                        </p>

                        <p>
                            Wir verarbeiten diese Daten aufgrund unseres überwiegenden berechtigten
                            Interesses nach Art. 6 Abs. 1 lit. f DSGVO zu dem Zweck der Bereitstellung
                            des Onlineangebots.
                        </p>

                        <p>
                            Für die Bereitstellung der Webseite sowie der verbundenen Dienstleistungen setzen wir auf
                            den Dienstanbieter hosting.de GmbH, Franzstr. 51, 52064 Aachen. Dessen Datenschutzhinweise
                            finden Sie <a href="https://www.hosting.de/ueber-uns/datenschutz/">hier</a>.
                        </p>

                        <h3 id="Newsletter">2.2 Newsletter (Erinnerungsservice)</h3>
                        <p>
                            Für den Versand des Newsletters (Erinnerungsservice) erfassen wir zusätzlich Ihre
                            E-Mail-Adresse. Diese Daten werden für die Dauer des Abonnements
                            verarbeitet. Wenn Sie sich wieder austragen, wird auch Ihre E-Mail-Adresse
                            gelöscht.
                        </p>

                        <p>
                            Die Anmeldung erfolgt nach dem so genannten Double-Opt-In-Verfahren. Das
                            bedeutet, dass nach der Anmeldung eine Bestätigung der Angaben erfolgen
                            muss. Erst nach erfolgreicher Bestätigung wird die Eintragung aktiviert und Sie
                            erhalten anschließend den Newsletter (Erinnerungsservice). Das Verfahren soll verhindern,
                            dass fremde E-Mail-Adressen in den Newsletter (Erinnerungsservice) eingetragen werden.
                        </p>

                        <p>
                            Bei der Verarbeitung dieser Daten stützen wir uns auf die
                            Einwilligung nach Art. 6 Abs. 1 lit. a DSGVO sowie unsere berechtigten
                            Interessen nach Art. 6 Abs. 1 lit. f DSGVO. Ein Widerruf der Einwilligung ist
                            jederzeit möglich. Die personenbezogenen Daten werden zum Zweck der
                            Information sowie des Direktmarketings verarbeitet.
                        </p>

                        <h3 id="Kommunikation-per-E-Mail">2.3 Kommunikation per E-Mail
                        </h3>
                        <p>
                            Über die auf dieser Webseite genannten E-Mail-Adressen können Sie in Kontakt
                            mit uns treten. Bei der Kontaktaufnahme und einem eventuell anschließenden
                            Mailverkehr werden folgende personenbezogene Daten verarbeitet:
                        </p>
                        <ul>
                            <li>E-Mail-Adresse</li>
                            <li>Vorname und Name</li>
                            <li>Betreff der E-Mail und Inhalte des Mailverkehrs</li>
                        </ul>
                        <p>
                            Die Verarbeitung dieser personenbezogenen Daten erfolgt zum Zweck der
                            Kommunikation und der Beantwortung von Kontaktanfragen.
                        </p>
                        
                        <h3 id="donation-form">2.4 Spendenformular</h3>
                        
                        <p>
                          Wenn Sie uns online über das bereitgestellte Spendenformular eine Spende zukommen lassen,
                          werden von uns die Daten zur Spende verarbeitet: Ihr Name, Ihre Anschrift und die Zahlungsangaben.
                          Diese Angaben benötigen wir, um Ihre Spende zu verwalten und Ihnen eine Spendenbescheinigung
                          schicken zu können. Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO.
                        </p>
                        
                        <h3 id="fundraising-box">FundraisingBox</h3>
                        
                        <p>
                          Das Spendenformular wird uns durch den Dienstleister FundraisingBox (Wikando GmbH,
                          Schießgrabenstr. 32, 86150 Augsburg) zur Verfügung gestellt. FundraisingBox garantiert
                          dabei vollständigen Datenschutz und rechtssichere Datenspeicherung. Er übernimmt für uns
                          die Zahlungsabwicklung durch eine sichere und zertifizierte Umgebung. Dabei werden die Daten
                          der Spenden-Transaktionen jederzeit SSL verschlüsselt und in europäischen zertifizierten
                          Rechenzentren gespeichert. Die MitarbeiterInnen von FundraisingBox sind auf das Datengeheimnis
                          verpflichtet. Ihre Daten werden nicht an Dritte weitergegeben. Jeder Spendenbetrag geht übrigens
                          direkt auf das Konto von Mehr Demokratie e.V., die für diese Kampagne das Spendenkonto verwalten
                          und nicht erst über ein Konto der FundraisingBox. Informationen zur Datensicherheit und zum
                          Datenschutz bei FundraisingBox finden Sie <a href="http://www.fundraisingbox.com/sicherheit">hier</a>.
                          </p>
                          
                          <p>
                            Sofern Sie die durch die FundraisingBox zur Verfügung gestellten Bezahldienste SEPA Lastschrift,
                            PayPal, Sofort (Klarna) oder Kreditkarte nutzen, beachten Sie bitte die jeweiligen Datenschutzerklärungen:
                          </p>
                          
                          <ul>
                            <li>SEPA Lastschrift per BFS-Net.Tool der <a href="https://www.sozialbank.de/datenschutz.html">Sozialbank</a>,
                            Hauptsitz: Köln, Deutschland</li>
                            <li><a href="http://www.paypal.com/de/webapps/mpp/ua/privacy-full">PayPal</a>,
                            Hauptsitz: San José, Kalifornien, USA</li>
                            <li><a href="http://www.sofort.com/ger-DE/datenschutzerklaerung-sofort-ag/">Sofort (Klarna)</a>,
                            Hauptsitz: Stockholm, Sweden</li>
                            <li>Kreditkarte via <a href="https://stripe.com/de/privacy">Stripe</a>, Hauptsitz: San Francisco, USA</li>
                          </ul>

                          <p>
                            FundraisingBox gibt Ihnen jederzeit gerne Auskunft zu den bei ihnen über Sie gespeicherten
                            personenbezogenen Daten. Senden Sie hierzu Ihre Anfrage brieflich, per E-Mail oder Fax an die
                            im Impressum von FundraisingBox angegebene Postanschrift, Mailadresse oder Faxnummer. Sie erhalten
                            dann umgehend eine schriftliche Auskunft.
                          </p>

                        <p>
                            Bei der Verarbeitung stützen wir uns auf unsere berechtigten Interessen nach
                            Art. 6 Abs. 1 lit. f DSGVO sowie ggf. auf die Erfüllung von Verträgen und
                            vorvertraglicher Anfragen nach Art. 6 Abs. 1 lit. b DSGVO. Die
                            personenbezogenen Daten verarbeiten wir zum Zweck der Beantwortung von
                            Anfragen und der Kommunikation.
                        </p>

                        <h3 id="Ihre-Rechte">3. Ihre Rechte</h3>
                        <p>
                            Im Rahmen der Verarbeitung der personenbezogenen Daten haben Sie folgende
                            Rechte:
                        </p>
                        <ul>
                            <li>Recht auf Auskunft nach Art. 15 DSGVO</li>
                            <li>Recht auf Berichtigung nach Art. 16 DSGVO</li>
                            <li>Recht auf Löschung nach Art. 17 DSGVO</li>
                            <li>Recht auf Einschränkung der Verarbeitung nach Art. 18 DSGVO</li>
                            <li>sofern eine Einwilligung erteilt wurde, haben Sie jederzeit das Recht diese
                                Einwilligung zu widerrufen</li>
                            <li>Recht auf Widerspruch nach Art. 21 DSGVO</li>
                            <li>Recht auf Datenübertragbarkeit nach Art. 20 DSGVO</li>
                        </ul>

                        <p>
                            Sie haben das Recht, sich bei einer Aufsichtsbehörde zu beschweren, wenn Sie
                            der Meinung sind, dass die Verarbeitung gegen die Vorgaben der DSGVO verstößt.
                        </p>
                    </div>

                    <p class="mb-0 mt-4 d-block d-lg-none">
                        <small>
                            {% t left.about_bottom %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>