<h1>{% t left.share %}</h1>
<p class="mb-4">{% t left.description %}</p>

<a class="copy" data-clipboard-text="{% t sachsen_anhalt.sharing.copy %}" href="#"
    data-bs-placement="top" data-bs-toggle="tooltip" title="{% t right.message.sharecopy %}"><i
        class="far fa-copy"></i></a>
<a
    href="mailto:?subject={% t sachsen_anhalt.sharing.email.subject %}&amp;body={% t sachsen_anhalt.sharing.email.body %}"><i
        class="fas fa-envelope"></i></a>
<a href="https://facebook.com/sharer/sharer.php?u={{ page.share_url }}" target="_blank"
    rel="noreferrer nopener"><i class="fa-brands fa-facebook"></i></a>
<a href="https://bsky.app/intent/compose?text={% t sachsen_anhalt.sharing.bluesky %}" target="_blank"
    rel="noreferrer nopener"><i class="fa-brands fa-bluesky"></i></a>
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.share_url }}"
    target="_blank" rel="noreferrer nopener"><i class="fa-brands fa-linkedin-in"></i></a>
<a href="https://t.me/share/url?text={% t sachsen_anhalt.sharing.telegram %}&amp;url={{ page.share_url }}"
    target="_blank" rel="noreferrer nopener"><i class="fa-solid fa-paper-plane"></i></a>
<a href="https://wa.me/?text={% t sachsen_anhalt.sharing.whatsapp %}" target="_blank"
    rel="noreferrer nopener"><i class="fa-brands fa-whatsapp"></i></a>
