<div class="tab-pane fade sachsen-step sachsen-step-3" id="step-3" role="tabpanel" aria-labelledby="step-3-tab">
    <div class="col-12 sachsen-step-body">
        <div id="preview" class="sachsen-step-intro">
            <h4 class="fw-bold float-end">3/3</h4>
            <button class="btn back-small mb-4" onclick="backtosecondpage();">{% t right.back
                %}</button>
            <h2 class="fs-3">{% t right.preview-letter %}</h2>
            <p>{% t right.preview-description %}</p>
            <p id="subject">{% t right.subject %}</p>
        </div>

        <p class="mb-0 mt-4 sachsen-info-message" id="final-message">
            <i class='fas fa-info-circle me-2'></i>
            {% t right.message.intro %}
        </p>

        <div class="row py-4 justify-content-center align-items-center sachsen-actions">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <a id="send-email" href="#" class="btn-send">
                    <i class="fas fa-paper-plane me-2"></i>{% t right.send %}
                </a>
            </div>
            <div class="col-12 col-lg-6">
                <button id="copy-text" class="btn-copy copy"
                    data-clipboard-target="#final-letter">
                    <i class="fas fa-clone me-2"></i>{% t right.copy %}
                </button>
            </div>
        </div>
        <div class="sachsen-step-legal">
            {% include footer.html %}
        </div>
    </div>
</div>
