<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1{% if page.page_class == 'page-sachsen-anhalt' %}, viewport-fit=cover{% endif %}">

    <title>
        {% if page.title %}
        {{ page.title }} - {{ site.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url"
        content="{{ page.url | replace:'index.html','' | replace:'/','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:image" content="{{ site.baseurl_root }}/assets/images/share.png">
    
    <meta property="og:image:type" content="image/png">
    <meta property="og:description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{{ site.baseurl_root }}/assets/images/favicons/apple-touch-icon.png">
    <link rel="mask-icon" href="{{ site.baseurl_root }}/assets/images/favicons/favicon.png" color="#0047e1">
    <link rel="icon" href="{{ site.baseurl_root }}/assets/images/favicons/favicon.png" />
    <meta name="theme-color" content="{% if page.page_class == 'page-sachsen-anhalt' %}transparent{% else %}#0047e1{% endif %}">

    <!-- Font preloads -->
    <link rel="preload" as="font" href="{{ site.baseurl_root }}/assets/fonts/source-sans-pro/SourceSans3-VariableFont_wght.ttf"
        crossOrigin="anonymous" />
    <link rel="preload" as="font" href="{{ site.baseurl_root }}/assets/fonts/source-sans-pro/SourceSans3-Italic-VariableFont_wght.ttf"
        crossOrigin="anonymous" />

    {% if page.page_class == "page-sachsen-anhalt" %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/main.css">
    {% if page.page_class == "page-sachsen-anhalt" %}
    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/sachsen-anhalt.css">
    {% endif %}

</head>
