<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
        {{ page.title }} - {{ site.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url"
        content="{{ page.url | replace:'index.html','' | replace:'/','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ site.title }}">
    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}assets/images/share.png">
    {% endif %}

    <meta property="og:image:type" content="image/png">
    <meta property="og:description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{{ site.baseurl_root }}/assets/images/favicons/apple-touch-icon.png">
    <link rel="mask-icon" href="{{ site.baseurl_root }}/assets/images/favicons/favicon.svg" color="#0047e1">
    <link rel="manifest" href="{{ site.baseurl_root }}/assets/images/favicons/site.webmanifest">
    <link rel="icon" href="{{ site.baseurl_root }}/assets/images/favicons/favicon.svg" />
    <meta name="theme-color" content="#0047e1">

    <!-- Font preloads -->
    <link rel="preload" as="font" href="{{ site.baseurl_root }}/assets/fonts/source-sans-pro/SourceSans3-VariableFont_wght.ttf"
        crossOrigin="anonymous" />
    <link rel="preload" as="font" href="{{ site.baseurl_root }}/assets/fonts/source-sans-pro/SourceSans3-Italic-VariableFont_wght.ttf"
        crossOrigin="anonymous" />

    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
