<!-- JavaScript -->
<script src="{{ site.baseurl_root }}/assets/js/clipboard.min.js"></script>
<script src="{{ site.baseurl_root }}/assets/js/bootstrap.bundle.min.js"></script>

<script src="{{ site.baseurl_root }}/assets/js/main.js"></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);

  (function() {
    var u="https://traffic.okfn.de/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setDomains', [document.location.host]])
    _paq.push(['disableCookies'])
    _paq.push(['disableBrowserFeatureDetection'])

    _paq.push(['setSiteId', '61']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->