<div id="navbar-mobile" class="overlay">
    <div class="container-fluid pt-5 px-2 px-lg-4">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-globe me-1"></i>
                        {% for lang in site.languages %}
                        {% assign lang_name = site.data[lang].l10n.lang_name %}
                        {% if lang == site.lang %}
                        {{ lang_name }}
                        {% endif %}
                        {% endfor %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {% for lang in site.languages %}
                        {% assign lang_name = site.data[lang].l10n.lang_name %}
                        {% if lang == site.default_lang %}
                        <li><a class="dropdown-item" href="{{ page.url | replace:'index.html','' }}">{{ lang_name }}</a>
                        </li>
                        {% else %}
                        <li><a class="dropdown-item" href="/{{ lang }}{{ page.url | replace:'index.html','' }}">{{
                                lang_name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <button class="closebtn" onclick="closeNav()">{% t nav.close %}<span class="ms-2">X</span></button>
            </div>
        </div>
    </div>

    <div class="overlay-content">
        <a href="{{ site.baseurl }}/">{% t left.home %}</a>
        <a href="{{ site.baseurl }}/about.html">{% t left.about %}</a>
        <a href="{{ site.baseurl }}/faq.html">{% t left.faq %}</a>
        <a href="{{ site.donate_url }}">{% t left.donate %}</a>
        <a href="{{ site.imprint_url }}">{% t left.imprint %}</a>
    </div>

    <div class="overlay-footer">
        <div class="social-links">
            <a href="{{ site.bluesky }}" target="_blank" rel="noreferrer nopener"><i class="fa-brands fa-bluesky"></i></a>
            <a href="{{ site.linkedin }}" target="_blank" rel="noreferrer nopener"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="{{ site.instagram }}" target="_blank" rel="noreferrer nopener"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p class="mb-0 mt-4">
            <small>
                {% t left.about_bottom %}
            </small>
        </p>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("navbar-mobile").style.height = "100%";
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
    }

    function closeNav() {
        document.getElementById("navbar-mobile").style.height = "0%";
        document.documentElement.style.overflow = 'scroll';
        document.body.scroll = "yes";
    }
</script>