:root {
  font-size: 16px;
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --validation-icon: 1.5rem;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Source Sans 3", system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: $gray-900;
}

.faded {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: darken($secondary, 5%);
}

.h1,
h1 {
  font-size: clamp(3rem, #{"1.5vw + 2.7rem"}, 4rem);
}

.h2,
h2 {
  font-size: clamp(2rem, #{"1.5vw + 1.7rem"}, 3rem);
}

.h3,
h3 {
  font-size: clamp(1.5rem, #{"0.7vw + 1.3rem"}, 2rem);
}

.h4,
h4 {
  font-size: clamp(1.125rem, #{"0.6vw + 1rem"}, 1.5rem);
}

.h5,
h5 {
  font-size: clamp(1rem, #{"0.2vw + 1rem"}, 1.125rem);
}

.h6,
h6 {
  font-size: clamp(0.875rem, #{"0.4vw + 0.8rem"}, 1.125rem);
}

a {
  color: lighten($secondary, 5%);
  transition: color var(--transition);
  &:hover {
    color: darken($secondary, 5%);
  }
}

.subtitle {
  font-size: 1.125rem;
}

.dropdown-toggle:after {
  vertical-align: 0.155em;
}

#dropdownMenu2 {
  padding: 0.75rem 1.25rem;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);
}

.top-item {
  color: $secondary;
  font-size: 1.1rem;
  font-weight: bold;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
  transition: 0.35s;
  background-color: $secondary;
}

.overlay-header {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}

.overlay-content {
  position: relative;
  top: 8%;
  width: 100%;
  text-align: center;
  a {
    padding: 0.313rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: $white;
    display: block;
    transition: transform var(--transition);
    &:hover,
    :focus,
    :active {
      color: $gray-900;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.overlay-footer {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  color: $white;
  a {
    color: $white;
  }
  .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 0.2rem;
    margin: 0 0.2rem;
    color: $secondary;
    background-color: $white;
    font-size: 1.625rem;
    width: 3rem;
    height: 3rem;
    transition: background-color var(--transition);
    &:hover {
      background-color: $gray-300;
    }
  }
}

.overlay .closebtn {
  border: none;
  background-color: transparent;
  color: $white;
  font-weight: bold;
  font-size: 1.25rem;
  &:hover,
  :focus,
  :active {
    color: $gray-700;
  }
}

.dropdown-menu {
  min-width: unset;
}

.dropdown-toggle {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0.25rem;
}

.background-white {
  background-color: $white;
}
.background-primary {
  background-color: rgba($primary, 0.075);
}
.background-black {
  background-color: $black;
}
.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}

.pattern {
  background-image: url("/assets/images/pattern.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.letter {
  background-color: $white;
  box-shadow: 0rem -0.25rem 0.25rem rgba(227, 227, 227, 0.25);
  border-radius: 0.125rem;
  border-bottom: 0.375rem solid rgba(9, 79, 158, 0.3);
  display: none;
  h4 {
    text-transform: uppercase;
    color: $secondary;
  }
}

.final-letter {
  background-color: $white;
  box-shadow: 0rem -0.25rem 0.25rem rgba(227, 227, 227, 0.25),
    0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.125rem;
  border-left: 0.375rem solid $gray-200;
}

#instructions {
  position: absolute;
  left: -999em;
  opacity: 0;
}

#outro-bottom {
  background-color: $bluegray-100;
  background-image: url("/assets/images/pattern.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  &:before,
  :after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.outro {
  display: none;
  a {
    display: inline-grid;
    place-content: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 0.125rem;
    margin: 0 0.2rem;
    color: $white;
    background-color: $secondary;
    font-size: 1.5rem;
    width: 2.625rem;
    height: 2.625rem;
    transition: background-color var(--transition);
    &:hover {
      background-color: darken($secondary, 5%);
    }
  }
}

.imprint a[href^="mailto:"] {
  text-decoration: none;
  margin-left: 0.25rem;
  &:before {
    content: "\f0e0";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding-right: 0.25rem;
  }
}

.social-links a {
  display: inline-grid;
  place-content: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 0.2rem;
  color: $white;
  background-color: $secondary;
  // width: 2rem;
  // height: 2rem;
  transition: background-color var(--transition);
  &:hover {
    background-color: darken($secondary, 5%);
  }
}

.list-group a {
  text-decoration: none;
}

.pages a {
  font-size: 1rem;
  font-weight: 600;
  color: $secondary;
  transition: color var(--transition);
  &:hover {
    color: darken($secondary, 5%);
  }
}

.back-small {
  padding: 0;
}

.btn-new {
  padding: 1.25rem 1.625rem;
  color: $gray-100;
  background-color: $primary;
  border-radius: 0.125rem;
  transition: all var(--transition);
  &:hover {
    color: $gray-100;
    background-color: darken($primary, 5%);
  }
}

.btn-contact {
  padding: 0.75rem 1.625rem;
  color: $gray-100;
  background-color: $secondary;
  border-radius: 2px;
  transition: all var(--transition);
  &:hover {
    color: $gray-100;
    background-color: darken($secondary, 5%);
  }
}

.btn-preview {
  padding: 1.25rem 2.5rem;
  color: $gray-100;
  background-color: $secondary;
  border-radius: 0.125rem;
  transition: all var(--transition);
  &:hover {
    color: $gray-100;
    background-color: darken($secondary, 5%);
  }
}

.btn-send {
  display: block;
  color: $gray-100;
  background-color: $secondary;
  border-radius: 0.125rem;
  font-weight: 500;
  padding: 1.25rem 0;
  width: 100%;
  text-align: center;
  transition: all var(--transition);
  text-decoration: none;
  &:hover {
    color: $gray-100;
    background-color: darken($secondary, 5%);
  }
}

.btn-copy {
  display: block;
  color: $gray-700;
  font-weight: 500;
  background-color: rgba(9, 79, 158, 0.1);
  border-radius: 0.125rem;
  border: none;
  padding: 1.25rem 0;
  width: 100%;
  text-align: center;
  transition: background-color var(--transition);
  &:hover {
    background-color: rgba(9, 79, 158, 0.15);
  }
}

.back {
  color: $gray-600;
  font-size: 1.125rem;
  margin-right: 1.25rem;
  transition: all var(--transition);
  &:hover:before {
    margin-right: 0.625rem;
  }
  &:before {
    content: "\f053";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin-right: 0.375rem;
    transition: margin var(--transition);
  }
  &-small:before {
    @extend .back:before;
  }
}

.scrollIndicator {
  z-index: 2;
  position: sticky;
  bottom: 5%;
  button {
    background: transparent;
    border: none;
  }
}

details {
  position: relative;
  margin-bottom: 1rem;
  padding: 0 0 1.25rem 2.5rem;
  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-100;
  }
  > summary {
    list-style: none !important;
    font-size: 1.125rem;
    color: $gray-900;
    font-weight: 500;
    &::-webkit-details-marker {
      display: none;
    }
    &::before {
      content: "\f078";
      font-family: "Font Awesome 6 Free";
      font-weight: 700;
      color: lighten($secondary, 5%);
      position: absolute;
      left: 0;
      top: -0.25rem;
      font-size: 1.5rem;
    }
  }
  &[open] {
    > summary {
      margin-bottom: 1rem;
    }
    > summary::before {
      content: "\f077";
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.form-control {
  position: relative;
  &::placeholder {
    color: $gray-500;
  }
  &:focus {
    box-shadow: inset 0 0 0 0.15rem #094f9e;
  }
  &:invalid {
    box-shadow: inset 0 0 0 0.15rem #cc3333;
  }
}

.form-check-input:checked {
  background-color: lighten($secondary, 5%);
  border-color: lighten($secondary, 5%);
}

.autocomplete {
  position: relative;
  &-items {
    max-height: 15.5rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $secondary $gray-100;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary;
    }
    div {
      padding: 0.75rem 1.375rem;
      cursor: pointer;
      transition: background-color var(--transition);
      &:nth-child(odd) {
        background-color: lighten($secondary, 65%);
      }
      &:nth-child(even) {
        background-color: lighten($secondary, 62%);
      }
      &:hover {
        background-color: lighten($secondary, 55%) !important;
      }
    }
  }
  &-active {
    background-color: lighten($secondary, 55%) !important;
  }
}

.error {
  padding: 0.75rem 1.375rem;
  color: #a62d19 !important;
  background-color: #fef6f5 !important;
}

.success {
  padding: 0.75rem 1.375rem;
  color: #314c0a !important;
  background-color: #eefbde !important;
}

#subject,
#id-newname,
#id-newsurname,
#id-address,
#id-street,
#id-newstreet,
#id-zip,
#id-newzip,
#id-city,
#id-newcity,
#final-street,
#final-zip,
#final-city,
#final-id-newname,
#final-id-newsurname,
#final-id-address,
#final-id-newstreet,
#final-id-newzip,
#final-id-newcity {
  display: none;
}

#newform,
#newaddress,
#finalnewaddress,
#address-mobile,
#preview-mobile,
#subscription {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 1.5rem 1.25rem 0.625rem !important;
  border: 1px solid $gray-500 !important;
  border-radius: 0.25rem;
  background-position: right 1rem center;
  background-repeat: no-repeat;
  &:valid {
    &:not(:focus):not(:placeholder-shown) {
      background-image: url("/assets/images/checkmark.svg");
      background-size: var(--validation-icon);
      box-shadow: inset 0 0 0 0.15rem green;
    }
  }
  &:invalid:not(:focus):not(:placeholder-shown) {
    background-image: url("/assets/images/xmark.svg");
    background-size: var(--validation-icon);
    box-shadow: inset 0 0 0 0.15rem #cc3333;
  }
}

.form-floating {
  > label {
    padding: 1.25rem 0.75rem 1.25rem 1.25rem !important;
    transition: transform var(--transition);
  }
  > .form-control,
  > .form-select {
    height: calc(3.5rem + 0.625rem);
    padding-top: 1.5rem !important;
  }
  > .form-control:focus ~ label,
  > .form-control:not(:placeholder-shown) ~ label,
  > .form-select ~ label {
    z-index: 5;
    opacity: 0.8 !important;
  }
}

.input-group.form-floating {
  label {
    padding-top: 1.25rem;
  }
  > .form-control:focus ~ label,
  > .form-control:not(:placeholder-shown) ~ label,
  > .form-select ~ label {
    padding-top: 1rem;
  }
}

.tgl {
  display: none;
  + .tgl-btn {
    outline: 0;
    display: block;
    width: 2.7em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0px 1.38974px 4.16923px rgba(0, 0, 0, 0.1);
    &:after {
      left: 0;
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      box-shadow: 0px 1.38974px 4.16923px rgba(0, 0, 0, 0.2);
    }
  }
  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-light {
  + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 0.125rem;
    transition: all 0.4s ease;
    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }
  }
  &:checked + .tgl-btn {
    background: $secondary;
  }
}

legend {
  font-size: 1rem;
  color: $gray-500;
  display: block;
}

fieldset {
  padding: 0.625rem;
  border: 1px solid $gray-500;
  border-radius: 0.25rem;
}

#final-message {
  padding: 1.25rem;
  background-color: $cyan-50;
  color: darken($secondary, 5%);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  .fa-info-circle {
    font-size: 1em;
  }
}

a.donate {
  display: inline-grid;
  background-color: #f45e5e;
  border-radius: 0;
  padding: 1.5rem 1rem;
  margin: 0;
  color: $white;
  font-size: 1.1rem;
  width: unset;
  height: none;
}

#left-side .container.overflow-auto::-webkit-scrollbar {
  display: none;
}

#left-side .container.overflow-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 75rem) {
  #left-side {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: 48rem) {
  :root {
    --validation-icon: 1.25rem;
    --input-transform: scale(0.85) translateY(-1.5rem) translateX(0.1rem);
  }

  .input-group .form-control {
    display: block;
  }
  .outro a {
    font-size: 1.2rem;
    width: 2.3rem;
    height: 2.3rem;
  }
  a.donate {
    font-size: 1.1rem;
    width: unset;
    height: none;
  }
  .btn-preview,
  .btn-contact,
  .btn-new {
    width: 100%;
  }
  #bigletter {
    display: none !important;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    background-color: rgba(100, 116, 139, 0.08);
    background-position: right 0.75rem center;
  }
  fieldset {
    background-color: rgba(100, 116, 139, 0.08);
  }
  #address-desktop {
    display: none;
  }
  .fa-info-circle {
    font-size: 1.5em;
  }
  .big-chb {
    padding-left: 0 !important;
    .form-check-input {
      float: none;
      margin-left: 0;
      width: 1.6em !important;
      height: 1.6em !important;
    }
  }
  .final-letter {
    box-shadow: none;
    border-radius: 0.25rem;
    background: linear-gradient(0deg, #f1f5f9, #f1f5f9);
  }
}
