<div id="left-side" class="col-md-12 col-lg-6 background-primary pattern">
    <div class="container d-flex flex-column flex-fill h-100 py-5 px-2 px-lg-5">
        {% include navbar.html %}

        <div class="row">
            <div class="col-12 col-lg-8">
                <h1>{% t terms.left.title %}</h1>
                <p class="subtitle">{% t terms.left.subtitle %}</p>
            </div>
        </div>

        <div class="row mt-auto d-none d-lg-block">
            <div class="col-12">
                {% include nav.html %}
                {% include footer.html %}
            </div>
        </div>
    </div>
</div>
