<div id="left-side" class="col-md-12 col-lg-6 background-primary pattern">
    <div class="container d-flex flex-column h-100 py-5 px-2 px-lg-5 overflow-auto">
        {% include navbar.html %}
        <div class="row">

            {% include {{ page.app_intro }} %}

            {% include app/bigletter.html %}

            {% include app/address-mobile.html %}

            <div id="outro" class="col-12 outro mb-5">
                {% include {{ page.app_outro }} %}
            </div>

            {% include app/preview-mobile.html %}
            
        </div>

        <div class="row mt-auto d-none d-lg-block">
            <div class="col-12">
                {% include nav.html %}
                {% include footer.html %}
            </div>
        </div>
    </div>
</div>
