<div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">
    <div class="col-12">
        <div id="address-desktop">
            <h4 class="fw-bold float-end">2/3</h4>
            <button class="btn back-small mb-4 d-none d-lg-block"
                onclick="backtofirstpage();">{% t right.back %}</button>
            <h2>{% t right.residence %}</h2>
            <p>{% t right.optional %}</p>
            <div class="background-gray-100 p-4">
                <h4 id="munname" class="fw-bold mb-0"></h4>
                <p id="munemail" class="mb-0 me-1 d-inline-block"></p>
                <button class="btn copy p-0 d-inline-block" data-bs-placement="top"
                    data-bs-toggle="tooltip" title="{% t right.message.copied %}"
                    aria-label="{% t right.message.copyAddress %}" data-clipboard-target="#munemail">
                    <i class="far fa-copy" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        {% include app/step-2-form.html %}
    </div>
</div>
