<div class="tab-pane fade" id="step-3" role="tabpanel" aria-labelledby="step-3-tab">
    <div class="col-12">
        <div id="preview">
            <h4 class="fw-bold float-end">3/3</h4>
            <button class="btn back-small mb-4" onclick="backtosecondpage();">{% t right.back
                %}</button>
            <h2 class="fs-3">{% t right.preview-letter %}</h2>
            <p>{% t right.preview-description %}</p>
            <p id="subject">{% t right.subject %}</p>
        </div>

        <p class="mb-0 mt-4" id="final-message">
            <i class='fas fa-info-circle me-2'></i>
            {% t right.message.intro %}
        </p>

        <div class="row py-4 justify-content-center align-items-center">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <a id="send-email" href="#" class="btn-send" target="mailto">
                    <i class="fas fa-paper-plane me-2"></i>{% t right.send %}
                </a>
                <iframe name="mailto" src="about:blank" style="display:none;"></iframe>
            </div>
            <div class="col-12 col-lg-6">
                <button id="copy-text" class="btn-copy copy"
                    data-clipboard-target="#final-letter">
                    <i class="fas fa-clone me-2"></i>{% t right.copy %}
                </button>
            </div>
        </div>

        <div class="background-gray-100 p-4 mb-3">
            <h4 id="final-munname" class="fw-bold mb-0"></h4>
            <p id="final-munemail" class="mb-0 me-1 d-inline-block"></p>
            <button class="btn copy p-0 d-inline-block" data-bs-toggle="tooltip"
                data-bs-placement="top" title="{% t right.message.copied %}"
                data-clipboard-target="#final-munemail">
                <i class="far fa-copy"></i>
            </button>
        </div>

        {% include app/step-3-letter.html %}

        <div id="outro-bottom" class="col-12 col-xl-8 my-4 p-4 outro">
            {% include {{ page.app_outro }} %}
        </div>
    </div>
</div>
