---
layout: default
---

<div class="container-fluid h-100">
    <div class="row h-100">
        {% if page.app_sidebar %}
            {% include {{ page.app_sidebar }} %}
        {% else %}
            {% include app/sidebar.html %}
        {% endif %}

        <div id="right-side" class="col-md-12 col-lg-6">
            <div class="container d-flex flex-column h-100 py-3 py-lg-5 px-2 px-lg-5">
                <div class="row">
                    {% include app/step-nav.html %}

                    <div class="tab-content" id="pills-tabContent">
                        {% if page.app_step_1 %}
                            {% include {{ page.app_step_1 }} %}
                        {% else %}
                            {% include app/step-1.html %}
                        {% endif %}

                        {% if page.app_step_2 %}
                            {% include {{ page.app_step_2 }} %}
                        {% else %}
                            {% include app/step-2.html %}
                        {% endif %}

                        {% if page.app_step_3 %}
                            {% include {{ page.app_step_3 }} %}
                        {% else %}
                            {% include app/step-3.html %}
                        {% endif %}

                        <div class="d-block d-lg-none">
                            {% include footer.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<template id="right.invalidemail">{% t right.invalidemail %}</template>
<template id="right.successfulregistration">{% t right.successfulregistration %}</template>
<template id="right.message.sent">{% t right.message.sent %}</template>
<template id="right.invalidZipcode">{% t right.invalidZipcode %}</template>
<template id="right.zipNotFound">{% t right.zipNotFound %}</template>
<template id="translation-sent">{% t right.message.sent %}</template>
<template id="translation-copied">{% t right.message.success %}</template>
{% if page.data %}
<script id="page-data" type="application/json">{{ page.data | jsonify }}</script>
{% endif %}
